/coverage
/node_modules
node_modules
storybook-static

**/.vscode

# output
dist
@out
.next
.next-*
cdk.out
.serverless_nextjs
.serverless
build
build-at-edge
coverage
tsconfig.tsbuildinfo
*.swp
yarn-cache-json.txt
tmp
out
tsconfig.vitest-temp.json
next-env.d.ts
.open-next
.out-pack
storybook-static.zip
playwright-report
test-results

# yarn zero install
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
#!.yarn/unplugged
#!.yarn/unplugged/**/*/dist
.DS_Store
.vercel
